<div class="sm:px-6 w-full">
  <div class="px-4 md:px-10 py-4 md:py-7">
    <div class="flex items-center justify-between">
      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800"
      >
        Tasks
      </p>
      <app-modal></app-modal>
      <div
        class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded"
      >
        <p>Sort By:</p>
        <select class="focus:outline-none bg-transparent ml-1">
          <option class="text-sm text-indigo-800">Latest</option>
          <option class="text-sm text-indigo-800">Oldest</option>
          <option class="text-sm text-indigo-800">Latest</option>
        </select>
      </div>
    </div>
  </div>
  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead>
          <th
            class="pl-24 text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9 text-center"
          >
            Name
          </th>
          <th
            class="pl-24 text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9 text-center"
          >
            Message
          </th>
          <th
            class="pl-24 text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9 text-center"
          >
            Date
          </th>
          <th
            class="pl-24 text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9 text-center"
          >
            Image
          </th>
          <th
            class="pl-24 text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9 text-center"
          >
            SHA
          </th>
        </thead>
        <tbody>
          <ng-container *ngFor="let commit of commits">
            <tr class="h-16 border border-gray-100 rounded">
              <td class="pl-5">
                <div class="flex items-center">
                  <p
                    class="text-sm leading-none text-gray-600 ml-2 aspect-w-16 aspect-h-9"
                  >
                    <img
                      class="object-scale-down max-h-10 max-w-xs"
                      [src]="commit.author.avatar_url"
                      alt=""
                      srcset=""
                    />
                  </p>
                </div>
              </td>
              <td class="">
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  [href]="commit.author.html_url"
                >
                  <div class="flex items-center pl-5">
                    <p
                      class="text-base font-medium leading-none text-gray-700 mr-2"
                    >
                      {{ commit.commit.author.name }}
                    </p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <path
                        d="M6.66669 9.33342C6.88394 9.55515 7.14325 9.73131 7.42944 9.85156C7.71562 9.97182 8.02293 10.0338 8.33335 10.0338C8.64378 10.0338 8.95108 9.97182 9.23727 9.85156C9.52345 9.73131 9.78277 9.55515 10 9.33342L12.6667 6.66676C13.1087 6.22473 13.357 5.62521 13.357 5.00009C13.357 4.37497 13.1087 3.77545 12.6667 3.33342C12.2247 2.89139 11.6251 2.64307 11 2.64307C10.3749 2.64307 9.77538 2.89139 9.33335 3.33342L9.00002 3.66676"
                        stroke="#3B82F6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        d="M9.33336 6.66665C9.11611 6.44492 8.8568 6.26876 8.57061 6.14851C8.28442 6.02825 7.97712 5.96631 7.66669 5.96631C7.35627 5.96631 7.04897 6.02825 6.76278 6.14851C6.47659 6.26876 6.21728 6.44492 6.00003 6.66665L3.33336 9.33332C2.89133 9.77534 2.64301 10.3749 2.64301 11C2.64301 11.6251 2.89133 12.2246 3.33336 12.6666C3.77539 13.1087 4.37491 13.357 5.00003 13.357C5.62515 13.357 6.22467 13.1087 6.66669 12.6666L7.00003 12.3333"
                        stroke="#3B82F6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </a>
              </td>
              <td class="pl-24">
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <path
                      d="M9.16667 2.5L16.6667 10C17.0911 10.4745 17.0911 11.1922 16.6667 11.6667L11.6667 16.6667C11.1922 17.0911 10.4745 17.0911 10 16.6667L2.5 9.16667V5.83333C2.5 3.99238 3.99238 2.5 5.83333 2.5H9.16667"
                      stroke="#52525B"
                      stroke-width="1.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <circle
                      cx="7.50004"
                      cy="7.49967"
                      r="1.66667"
                      stroke="#52525B"
                      stroke-width="1.25"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></circle>
                  </svg>
                  <p class="text-sm leading-none text-gray-600 ml-2">
                    {{ commit.commit.message | slice : 0 : 20 }} ...
                  </p>
                </div>
              </td>
              <td class="pl-5">
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    stroke="#52525B"
                    fill="none"
                    class="bi bi-calendar"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                  </svg>

                  <p class="text-sm leading-none text-gray-600 ml-2">
                    {{ formatDate(commit.commit.committer.date) }}
                  </p>
                </div>
              </td>
              <td class="pl-5">
                <button
                  class="py-3 px-3 text-sm focus:outline-none leading-none text-red-500 bg-red-100 hover:bg-red-200 rounded"
                >
                  {{ commit.sha }}
                </button>
              </td>
              <td class="pl-4">
                <button
                  (click)="details(commit)"
                  class="text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
                >
                  See Details
                </button>
              </td>
            </tr>
            <tr class="h-3"></tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal
  [data]="modal.data"
  [closeButton]="modal.closeButton"
  [title]="modal.title"
  [dataCSS]="modal.dataCSS"
></app-modal>
